<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <div class="save-edit">
                        <i class="fa fa-plus"> Create</i>
                    </div>
                </div>
                <div class="col">
                    <div class="save-edit">
                        <i class="fa fa-edit"> Edit</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 contact-information">
            <div ng-show="thisEvent" class="row">
                <form ng-init="contact" class="container-fluid form  contact-form">
                    <div class="row">
                        <span class="contact display-name"> <h2>{{thisEvent.Title}}</h2> </span>
                        <div class="col-12">
                            <div class="row">
                                Address: 
                                {{thisEvent.Addr_Street}}
                                {{thisEvent.Addr_City}}, {{thisEvent.Addr_State}} {{thisEvent.ZipCode}}

                            </div>
                            <div class="row">
                                <div class="col-2 address-label">
                                    Street
                                </div>
                                <div class="col">
                                    {{thisEvent.Street}}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-2 address-label">
                                    City
                                </div>
                                <div class="col">
                                    {{thisEvent.City}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 address-label">
                                    State
                                </div>
                                <div class="col-1">
                                    {{thisEvent.State}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 address-label">
                                    Zip
                                </div>
                                <div class="col-4">
                                    {{thisEvent.Zip}} {{contactType == 'Org'}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 address-label">
                                    GPS Location
                                </div>
                                <div class="col">
                                    {{thisEvent.GPS_Location}}
                                </div>
                            </div>
                            <hr>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col contact-info-label">
                                    Event Type
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col">
                                    {{thisEvent.ContactType}}
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col contact-info-label">
                                    Introduced By
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col">
                                    {{thisEvent.IntroducedBy}}
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col contact-info-label">
                                    Organization
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col">
                                    {{thisEvent.Organization}}
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col contact-info-label">
                                    Title
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col">
                                    {{thisEvent.Title}}
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col contact-info-label">
                                    Notes
                                </div>
                            </div>
                            <div class="row" ng-show="contactType != 'Org'">
                                <div class="col">
                                    {{thisEvent.orgNotes}}
                                </div>
                            </div>
                            <div class="row" ng-show="contactType == 'Org'">
                                <div class="col">
                                    Primary Contact
                                </div>
                            </div>
                            <div class="row" ng-show="contactType == 'Org'">
                                <div class="col">
                                    {{thisEvent.PrimaryContact}}
                                </div>
                            </div>
                            <div class="row" ng-show="contactType == 'Org'">
                                <div class="col">
                                    Phone Number
                                </div>
                            </div>
                            <div class="row" ng-show="contactType == 'Org'">
                                <div class="col">
                                    909098876
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-8 contact-list">

            <div>
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="eventCalendar"></div>
            </div>
        </div>
    </div>

</div>