<!-- <div ng-repeat="project in projects">
    <project data='project'></project> -->
<!-- <p-details project='project'></p-details>
    <p-summary project ='project'></p-summary> -->
<!-- </div>

<div ng-repeat="user in contacts">
    {{user.First_Name}} {{user.Last_Name}}<br/>{{user.Id}}
</div> -->
<div id="contactForm">
    <form ng-init="contact" class="container-fluid form  contact-form">
        <div class='section-label lvl-0'>Contact Information</div>
        <div class="row">
            <div class="col-6">
                <form-group class="row justify-content-left">
                    <label class="form-label label" for="prefix">Prefix</label>
                    <select class="dropdown" ng-model="contact.Name_Prefix" ng-options="pre as pre for pre in prefixes"></select>
                    <label class="form-label label" for="First_Name">First Name</label>
                    <input ng-model="contact.First_Name" type="text" class="form-control col" id="First_Name" placeholder="First Name">
                    <label class="form-label label" for="Last_Name">Last Name</label>
                    <input ng-model="contact.Last_Name" type="text" class="form-control col" id="Last_Name" placeholder="Last Name">
                </form-group>
                <!-- </div>
    </div>
    <div class="row">
        <div class="col-4"> -->
                <form-group class="row">
                    <label class="form-label label" for="Street">Street</label>
                    <input ng-model="contact.Addr_Street" type="text" class="form-control col-6" id="Street" placeholder="Street Address">
                </form-group>
                <form-group class="row justify-content-left">
                    <label class="form-label label" for="City">City</label>
                    <input ng-model="contact.Addr_City" type="text" class="form-control col" id="City" placeholder="City">
                    <!-- </form-group>
            <form-group class="row"> -->
                    <label class="form-label label" for="State">State</label>
                    <input ng-model="contact.Addr_State" type="text" class="form-control label" id="State" placeholder="State">
                    <!-- </form-group>
            <form-group class="row"> -->
                    <label class="form-label label" for="Zip">Zip</label>
                    <input ng-model="contact.Addr_ZipCode" type="text" class="form-control col" id="Zip" placeholder="Zip">
                </form-group>
                <form-group class="row">
                    <label class="form-label label" for="Email_Id">Email_Id</label>
                    <input ng-model="contact.Email_Id" type="text" class="form-control col-6" id="Email_Id" placeholder="Email_Id">
                </form-group>
                <form-group class="row">
                        <label class="form-label label" for="Phone">Phone (Cell)</label>
                        <input ng-model="thisContact.Phone_Cell" type="text" class="form-control col-6" id="Phone" >
                        <label class="form-label label" for="phoneType">Phone (Other)</label>
                        <input ng-model="thisContact.Phone_Other" type="text" class="form-control col-6" id="Phone" >
                </form-group>
                <form-group class="row">
                    <label class="form-label label-large" for="ctype">Contact Type</label>
                    <select class="dropdown" id="ctype" ng-model="contact.contactType" ng-options="ctype as ctype for ctype in ctypes"></select>
                    <label class="form-label co-2" for="progRelation">Program Relation</label>
                    <select class="dropdown" id="progRelation" ng-model="contact.Related_Program" ng-options="progRelation as progRelation for progRelation in progRelations"></select>
                </form-group>
                <form-group class="row">
                    <label class="form-label label-large" for="contactRelated">Related Contact</label>
                    <select class="dropdown" id="contactRelated" ng-model="contact.contactRelated" ng-options="contactRelated as (contactRelated.First_Name + ' ' + contactRelated.Last_Name) for contactRelated in contacts"></select>
                </form-group>
                <form-group class="row">
                    <label class="form-label label-large" for="referrer">Introduced By</label>
                    <select class="dropdown" id="referrer" ng-model="contact.referrer" ng-options="referrer as referrer.First_Name for referrer in contacts"></select>
                </form-group>
            </div>
        </div>
    </form>
    <form class="container-fluid form  contact-form lvl-sub">
        <div class="row">
            <div class="col-6">
                <form-group class="row">
                    <div class='section-label lvl-1'>Organization/Affiliation</div>
                </form-group>
                <form-group class="row">
                    <label class="form-label label-large" for="organization">Organization</label>
                    <select id="organization" class="dropdown" ng-model="contact.organization" ng-options="org as org.First_Name for org in orgs"></select>
                    <label class="form-label label-large" for="notes">Notes</label>
                    <textarea id="notes" ng-model="contact.orgNotes" value='Notes'></textarea>
                </form-group>
                <input type="button" value="Create Contact" ng-click="createContact(contact)">
            </div>
        </div>
    </form>
</div>