.angular-popover-container {
    position: absolute;
    width: 0;
    height: 0;
    /* left: 0; */
	z-index:100;
}

.angular-popover {
    position: relative;
	max-width: 400px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
    z-index:1000;
	background-color:white;
/*  	width:200px;
	height:200px;
 */	
}

.angular-popover-template {
    padding: 0;
		background-color:white;
 	width:200px;
	/*height:200px;*/
	

}

.popover-floating-animation-top {
    animation: floatingtop 8s 1.5s infinite;
    -webkit-animation: floatingtop 3s .5s infinite
}

.popover-floating-animation-bottom {
    animation: floatingbottom 3s .5s infinite;
    -webkit-animation: floatingbottom 3s .5s infinite
}

.popover-floating-animation-left {
    animation: floatingleft 3s .5s infinite;
    -webkit-animation: floatingleft 3s .5s infinite
}

.popover-floating-animation-right {
    animation: floatingright 3s .5s infinite;
    -webkit-animation: floatingright 3s .5s infinite
}

@-webkit-keyframes floatingtop {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(0, -8px);
        -webkit-transform: translate(0, -8px)
    }
}

@-webkit-keyframes floatingbottom {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(0, 8px);
        -webkit-transform: translate(0, 8px)
    }
}

@-webkit-keyframes floatingright {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(8px, 0);
        -webkit-transform: translate(8px, 0)
    }
}

@-webkit-keyframes floatingleft {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(-8px, 0);
        -webkit-transform: translate(-8px, 0)
    }
}

.hide-popover-element {
    display: none
}

.angular-popover-triangle {
    width: 120px;
    height: 60px;
    position: relative;
/* 	background-color:yellow;
 */    overflow: hidden;
	z-index:1100;
		box-shadow: 0 6px 10px -17px rgba(0, 0, 0, .2)
}

.angular-popover-triangle:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
/*     background: #fff;
 */	background-color: transparent;
    transform: rotate(45deg);
    /* box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2); */
	
}

.angular-popover-triangle-top:after {
    top: -8.5px;
    left: 7px
}

.angular-popover-triangle-bottom:after {
    top: 23.5px;
    left: 7px
}

.angular-popover-triangle-right::after {
    top: 7.5px;
    left: 23.5px
}

.angular-popover-triangle-left::after {
    top: 7.5px;
    left: -8.5px
}

    .circle-red{
	  margin:auto;
      width: 15px;
      height: 15px;
      -webkit-border-radius: 7.5px;
      -moz-border-radius:7.5px;
      border-radius: 7.5px;
	  border: solid thin;
      background: #d34230;
    }
    .circle-yellow{
      width: 15px;
      height: 15px;
      -webkit-border-radius: 7.5px;
      -moz-border-radius:7.5px;
      border-radius: 7.5px;
	  border: solid thin;
	  margin:auto;
      background: #f3bd00;
	}
    .circle-green{
      width: 15px;
      height: 15px;
      -webkit-border-radius: 7.5px;
      -moz-border-radius:7.5px;
      border-radius: 7.5px;
	  border: solid thin;
      background: #8eb046;
	  margin:auto;
	}
    .circle-grey{
	  margin:auto;
      width: 15px;
      height: 15px;
      -webkit-border-radius: 7.5px;
      -moz-border-radius:7.5px;
      border-radius: 7.5px;
	  border: solid thin;
      background: grey;
	}
	
    th {
        width: auto;
        padding: 5px !important;
    }

    table,
    td,
    a {
        color: #000;
        font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif
    }

    h1 {
        font: normal normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin: 0 0 5px 0
    }

    h2 {
        font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin: 0 0 5px 0
    }

    h3 {
        font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: #008000;
        margin: 0 0 15px 0
    }
    /* end basic styling                                 */
    /* define height and width of scrollable area. Add 16px to width for scrollbar          */

    div.tableContainer {
        clear: both;
        border: 1px solid #963;
        /*height: 285px;*/
        overflow: auto;
        /*width: 756px*/
    }
    /* Reset overflow value to hidden for all non-IE browsers. */

    html>body div.tableContainer {
        overflow: hidden;
        /*width: 756px*/
    }
    /* define width of table. IE browsers only                 */

    div.tableContainer table {
        float: left;
        /*width: 740px*/
    }

    thead.fixedHeader tr {
        z-index: 0;
    }
    /* set THEAD element to have block level attributes. All other non-IE browsers            */
    /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */

    html>body thead.fixedHeader tr {
        display: block
    }
    /* make the TH elements pretty */

    thead.fixedHeader th {
        background: #1e345d;
        border-left: 1px solid #9fabf0;
        border-right: 1px solid #9fabf0;
        border-top: 1px solid #9fabf0;
        color: #d4d9dc;
        font-weight: normal;

        text-align: left
    }
    /* make the A elements pretty. makes for nice clickable headers                */

    thead.fixedHeader a,
    thead.fixedHeader a:link,
    thead.fixedHeader a:visited {
        color: #FFF;
        display: block;
        text-decoration: none;
        width: 100%
    }
    /* make the A elements pretty. makes for nice clickable headers                */
    /* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */

    thead.fixedHeader a:hover {
        color: #FFF;
        display: block;
        text-decoration: underline;
        width: 100%
    }
    /* define the table content to be scrollable                                              */
    /* set TBODY element to have block level attributes. All other non-IE browsers            */
    /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
    /* induced side effect is that child TDs no longer accept width: auto                     */

    html>body tbody.scrollContent {
        display: block;
        height: 800px;
        overflow: auto;
        /*scrollbar:*/
        width: 100%;
    }

    .alternateRow {
        width: calc(100% -16px);
		position:relative;
    }
    /* make TD elements pretty. Provide alternating classes for striping the table */
    /* http://www.alistapart.com/articles/zebratables/                             */

    tbody.scrollContent td,
    tbody.scrollContent tr.normalRow td {
        /*background: #FFF;*/
        border-bottom: none;
        border-left: none;
        border-right: 1px solid #CCC;
        border-top: 1px solid #DDD;
        padding: 2px 3px 3px 4px
    }

    tbody.scrollContent tr.alternateRow td {
        background: #EEE;
        border-bottom: none;
        border-left: none;
        border-right: 1px solid #CCC;
        border-top: 1px solid #DDD;
        padding: 2px 3px 3px 4px
    }
    /* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
    /* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
    /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
    /*
    html>body thead.fixedHeader th {
        width: 10%
    }

    html>body thead.fixedHeader th+th {
        width: 10%
    }

    html>body thead.fixedHeader th+th+th {
        width: 10%
    }*/
    /* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
    /* All other non-IE browsers.                                            */
    /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */

    html>body tbody.scrollContent td {
        /*width: 10%*/
    }

    html>body tbody.scrollContent td+td {
        width: 9%
    }

    html>body tbody.scrollContent td+td+td {
        width: 9%
    }

    html>body tbody.scrollContent tr:nth-child(even) {
        background-color: #d4d9dc;
    }
	.ms-core-pageTitle{
		display:none;
	}
	@media (min-width: 768px) {
    .modal-dialog {
/*         width: 600px; */
		width: 60% !important;
        margin: 30px auto;
		left:0;
    }
.panel-body {
    padding: 15px;
		border-right:solid thin;
		border-left:solid thin;
		background-color: #e6e9ea;
	}
	.panel-footer {
		border-right:solid thin;
		border-left:solid thin;
		background-color:#f5f5f5;
	}
	.panel-heading{
		background-color:#dadfe0 !important;
		border-left:solid thin !important;
		border-top:solid thin !important;
		border-right: solid thin !important;
	}
	.popover{
		min-width:400px;
	}